<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Конвертер валют</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <header>
        <h1 class="text-center">Конвертер валют</h1>
    </header>

    <div>{{{body}}}</div>

    <footer>
        <p class="text-center"><b>&copy; NosovVitaly</b></p>
    </footer>
</body>

</html>